.blog-article
  padding 30px
  font-size 16px
  background-color line-modifier-color
  border-radius radius-theme-size

.blog-article_title
    font-size 22px
    line-height 26px
    margin 0
    word-break break-word

.blog-article_info
  padding padding-space*2
  background-color #f7f8fc
  display flex
  justify-content space-between
  color #999
  @media screen and (max-width:768px)
    flex-direction column
    height 120px  

.blog-info_item
  padding 0 6px

.blog-article_content
  padding padding-space*2 0
    
.blog-article img 
  display block
  width 50%
  margin 10px auto