.blog-message
  position: fixed
  width: 100%
  z-index 9999
  bottom: 0

.blog-message .alert
  opacity 1
  &.show
    opacity 1
    transform: translateY(52px)
  &.move
    animation slideUp 3s .3s forwards
    @keyframes slideUp 
      0% 
        opacity 1
        transform: translateY(52px)
      20%
        opacity 1
        transform: translateY(0)
      100%
        opacity 0
        transform: translateY(-100px)
  